:root {
    --bar-height: 40px;
}

body {
    font-family: Arial, serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}

li {
    list-style-type: none !important;
}

a {
    text-decoration: none !important;
}

.nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;  
    display: flex;
    justify-content: space-between;
}

.nav__bar {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 20px;
} 

.bar__icon {
    display: none;
}

.contents {
    height: var(--bar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px !important;
}

.contents__item {
    background-color: black;
    margin-left: 10px;
}

.contents-item__link {
    color: white !important;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-photo {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

main {
    max-width: calc(100% - 80px);
    margin: 0 40px 40px 40px;
}

header {
    margin: 40px;
}

@media only screen and (max-width: 800px) {
    .contents {
        display: block;
        height: auto;
        margin: 20px !important;
        margin-bottom: 10px !important;
    }

    .contents__item {
        margin-right: 0px;
        margin: 0px;
        margin-bottom: 10px;
    }

    .nav__bar {
        height: var(--bar-height);
        margin-left: 20px !important;
    }

    .bar__icon {
        display: block;
        margin-right: 10px;
    }
    
    .nav__contents {
        display: none;
    }
    
    nav:hover .nav__contents{
        display: block;
    } 
    
    nav:hover .nav__bar{
        display: none !important;
    }
    
}

code pre{
    background: lightgray;
    border-radius: 8px;
}

pre {
    overflow: auto;
    padding: 20px;
}